# django-admin startproject UrbanDjango
# cd DBAPPS
# python manage.py runserver
# python manage.py startapp task1
# python manage.py startapp example2
# python manage.py startapp example3
# python manage.py makemigrations
# python manage.py migrate
# python manage.py shell

#from task1.models import Buyer
# Buyer.objects.all()
# Buyer.objects.create(name = 'Alex', balance = '3000', age = '21')

# Game.objects.all()
# Game.objects.create(title = 'Game_notad', cost = '5000', size = '7000', description = 'Игра 18+шок', age_limited = 'True')

# Game.objects.get(id=1).buyer.set(('3'))
